In [1]:
import pandas as pd
import os
from ipywidgets import interact
import matplotlib.pyplot as plt
from matplotlib import pyplot
import numpy as np

In [2]:
pd.options.display.html.table_schema = True
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

In [3]:
# import jtplot module in notebook
from jupyterthemes import jtplot
# choose which theme to inherit plotting style from
# onedork | grade3 | oceans16 | chesterish | monokai | solarizedl | solarizedd
jtplot.style(theme='chesterish')

In [4]:
cyber = pd.read_csv('cyber_filtered_2.csv')
#tick_company = pd.read_csv('ticker_input.csv')
stocks = pd.read_csv('stock_market_data.csv')

In [5]:
stocks.head()

         date  price symbol  volume
0  2015-09-25  11.92    OWW       0
1  2015-09-24  11.92    OWW       0
2  2015-09-23  11.92    OWW       0
3  2015-09-22  11.92    OWW       0
4  2015-09-21  11.92    OWW       0

In [6]:
cyber.head()

,Entity,Ticker,Market,alternative name,records lost,YEAR,story,SECTOR,METHOD,interesting story,DATA SENSITIVITY,DISPLAYED RECORDS,column 11,source name,1st source link,2nd source link,Unnamed: 16,Unnamed: 17
0,Yahoo,YHOO,Nasdaq,NaN,"500,000,000",2016,"Sep 2016. Happened in 2014, but no. records st...",web,hacked,NaN,2,"500,000,000",NaN,Business Insider,http://uk.businessinsider.com/yahoo-hack-by-st...,NaN,NaN,NaN
1,Twitter,TWTR,NYSE,NaN,"330,000,000",2018,May 2018. A glitch caused some passwords to be...,app,poor security,NaN,1,"330,000,000",NaN,Reuters,https://www.reuters.com/article/us-twitter-pas...,NaN,NaN,NaN
2,MySpace,NWS,NYSE,NaN,"164,000,000",2016,May 2016. The same hacker who was selling Link...,web,hacked,NaN,1,"164,000,000",NaN,Motherboard,http://motherboard.vice.com/read/427-million-m...,NaN,NaN,NaN
3,MyFitnessPal,UAA,NYSE,UnderArmour,"150,000,000",2018,"Mar 2018. Usernames, email addresses, and hash...",app,hacked,NaN,1,"150,000,000",NaN,Guardian,https://www.theguardian.com/technology/2018/ma...,NaN,NaN,NaN
4,Ebay,EBAY,NASDAQ,NaN,"145,000,000",2014,May 2014. The company has said hackers attacke...,web,hacked,y,1,"145,000,000",NaN,Business Insider,https://www.businessinsider.com/cyber-thieves-...,NaN,NaN,NaN

In [7]:
set(cyber['DATA SENSITIVITY'] )

{'1', '2', '3', '4', '5', 'financial', nan, 'oops!', 'y'}

In [8]:
cyber['DATA SENSITIVITY'] = cyber['DATA SENSITIVITY'].replace({'financial':'4','oops!': '1', 'y':'2'  })

In [9]:
cyber['DATA SENSITIVITY'] = cyber['DATA SENSITIVITY'].fillna(0).astype(int)

In [10]:
set(cyber['DATA SENSITIVITY'])

{0, 1, 2, 3, 4, 5}

In [11]:
cyber['cyber_date'] = pd.to_datetime(
    cyber['story'].apply(lambda x: x[:8]).str.upper(),
    format='%b %Y',
    yearfirst=False,errors='coerce')

In [12]:
cyber['year'] = cyber['cyber_date'].apply(lambda x: x.year).fillna(0).astype(int)
cyber['month'] = cyber['cyber_date'].apply(lambda x: x.month).fillna(0).astype(int)
cyber['key'] = cyber['Ticker'].astype(str)+cyber['year'].astype(str)+cyber['month'].astype(str)

In [13]:
cyber[cyber['Ticker']=="LNKD"]

,Entity,Ticker,Market,alternative name,records lost,YEAR,story,SECTOR,METHOD,interesting story,DATA SENSITIVITY,DISPLAYED RECORDS,column 11,source name,1st source link,2nd source link,Unnamed: 16,Unnamed: 17,cyber_date,year,month,key
7,LinkedIn,LNKD,NaN,NaN,"117,000,000",2016,May 2016. What initially seemed to be a theft ...,web,hacked,NaN,1,"117,000,000",NaN,CNN,http://money.cnn.com/2016/05/19/technology/lin...,https://money.cnn.com/2012/06/06/technology/li...,NaN,NaN,2016-05-01,2016,5,LNKD20165
32,Lynda.com,LNKD,NaN,owned by LinkedIn,"9,500,000",2016,Dec 2016. Hackers breached a database that hel...,web,hacked,NaN,1,NaN,NaN,Neowin,https://www.neowin.net/news/microsoft-owned-li...,NaN,NaN,NaN,2016-12-01,2016,12,LNKD201612
34,"LinkedIn, eHarmony, Last.fm",LNKD,NaN,NaN,"8,000,000",2012,Jun 2012. Hacker 'dwdm' uploaded a file contai...,web,hacked,NaN,1,NaN,NaN,Cnet,http://news.cnet.com/8301-1009_3-57449325-83/w...,NaN,NaN,NaN,2012-06-01,2012,6,LNKD20126

In [14]:
stocks['date'] = pd.to_datetime(stocks.date)

In [15]:
data = stocks[stocks['symbol'] == 'LNKD']
data = data.sort_values(by=['date'], ascending=True)
data.index = pd.DatetimeIndex(data['date'], name='date_')
data = data.resample('M').first()
data['returns'] = data['price']/data['price'].shift(1)
data['year'] = data['date'].apply(lambda x: x.year)
data['month'] = data['date'].apply(lambda x: x.month)
data = data.fillna(0)
data['year'] = data['year'].astype(int)
data['month'] = data['month'].astype(int)
data['d_key'] = data['symbol'].astype(str)+data['year'].astype(str)+data['month'].astype(str)

In [16]:
data.head()

,date,price,symbol,volume,returns,year,month,d_key
date_,,,,,,,,
2016-01-31,2016-01-04 00:00:00,225.55,LNKD,1371505.0,0.000000,2016,1,LNKD20161
2016-02-29,2016-02-01 00:00:00,205.76,LNKD,2471653.0,0.912259,2016,2,LNKD20162
2016-03-31,2016-03-01 00:00:00,116.34,LNKD,5115245.0,0.565416,2016,3,LNKD20163
2016-04-30,2016-04-01 00:00:00,115.63,LNKD,1541609.0,0.993897,2016,4,LNKD20164
2016-05-31,2016-05-02 00:00:00,128.85,LNKD,3126287.0,1.114330,2016,5,LNKD20165

In [17]:

metric = 'price'
res = pd.DataFrame()
for ticker in set(stocks['symbol']):
    data = stocks[stocks['symbol'] == ticker]
    data = data.sort_values(by=['date'], ascending=True)
    data.index = pd.DatetimeIndex(data['date'], name='date_')
    data = data.resample('M').first()
    data['returns'] = data['price']/data['price'].shift(1)
    data['year'] = data['date'].apply(lambda x: x.year)
    data['month'] = data['date'].apply(lambda x: x.month)
    data = data.fillna(0)
    data['year'] = data['year'].astype(int)
    data['month'] = data['month'].astype(int)
    data['d_key'] = data['symbol'].astype(str)+data['year'].astype(str)+data['month'].astype(str)
    d = data.merge(cyber, left_on=data.d_key, right_on=cyber.key, how='left')
    d = d.fillna(0)
    d['data breach'] = np.where(d['Entity']!=0,d[metric],0)
    d = d[['date', 'price', 'returns', 'symbol', 'volume', 'data breach']]
    d = d.iloc[1:]
    res = res.append(d)

res.to_csv('cyber_breaches_and_Stock_price.csv')

In [18]:
res[res['data breach']>0].sort_values('symbol').shape

(58, 6)

In [20]:
def plot(ticker='YHOO', metric='price'):
    pyplot.show()
    fig = plt.figure(figsize=(15,9))
    data = stocks[stocks['symbol'] == ticker]
    data = data.sort_values(by=['date'], ascending=True)
    data.index = pd.DatetimeIndex(data['date'], name='date_')
    data['vol_sum'] = data['volume'].cumsum()
    data = data.resample('M').first()
    data['returns'] = data['price']/data['price'].shift(1)
    data['vol'] = data['vol_sum'] - data['vol_sum'].shift(1)
    data['year'] = data['date'].apply(lambda x: x.year)
    data['month'] = data['date'].apply(lambda x: x.month)
    data['d_key'] = data['symbol'].astype(str)+data['year'].astype(str)+data['month'].astype(str)
    d = data.merge(cyber, left_on=data.d_key, right_on=cyber.key, how='left')
    d = d.fillna(0)
    d['data breach'] = np.where(d['Entity']!=0,d[metric],-100)
    d = d[['date', 'price', 'returns', 'symbol', 'vol', 'data breach', 'DATA SENSITIVITY']]
    d = d.iloc[1:]
    plt.plot(d['date'], d[metric])
    plt.plot(d['date'], d['vol'], 'g-')
   # plt.scatter(d['date'].tolist(), d['data breach'], c=d['DATA SENSITIVITY'], s=d['DATA SENSITIVITY']*100, cmap = 'Reds')
    plt.scatter(d['date'].tolist(), d['data breach'],c='Red', s=d['DATA SENSITIVITY']*100)
    plt.ylim((0,d[metric].max()))
    leg = plt.legend()
    plt.xlabel('date')
    plt.ylabel('stock price')

In [21]:
interact(plot, ticker=list(set(stocks['symbol'])), metric=['price', 'returns']);

interactive(children=(Dropdown(description='ticker', index=16, options=('TJX', 'WP', 'WEN', 'AMZN', 'DPZ', 'SP…

In [22]:
def plot_new(ticker='YHOO', price_metric='price', volume_metric='vol'):
    pyplot.show()
    fig = plt.figure(figsize=(15,9))
    data = stocks[stocks['symbol'] == ticker]
    data = data.sort_values(by=['date'], ascending=True)
    data.index = pd.DatetimeIndex(data['date'], name='date_')
    data['vol_sum'] = data['volume'].cumsum()
    data = data.resample('M').first()
    data['returns'] = data['price']/data['price'].shift(1)
    data['vol'] = data['vol_sum'] - data['vol_sum'].shift(1)
    data['% change'] = (data['vol']/data['vol'].shift(1))
    data['year'] = data['date'].apply(lambda x: x.year)
    data['month'] = data['date'].apply(lambda x: x.month)
    data['d_key'] = data['symbol'].astype(str)+data['year'].astype(str)+data['month'].astype(str)
    d = data.merge(cyber, left_on=data.d_key, right_on=cyber.key, how='left')
    d = d.fillna(0)
    d['data breach'] = np.where(d['Entity']!=0,d[price_metric],-100)
    d = d[['date', 'price', 'returns', 'symbol', 'vol', '% change', 'data breach', 'DATA SENSITIVITY']]
    d = d.iloc[2:]
   #plot for single y axis
   #plt.plot(d['date'], d[metric])
   #plt.scatter(d['date'].tolist(), d['data breach'], c=d['DATA SENSITIVITY'], s=d['DATA SENSITIVITY']*100, cmap = 'Reds')
   #plot for double y axis 
    ax=fig.add_subplot(111)
    ax2 = ax.twinx()
    ax.plot(d['date'], d[price_metric], linewidth=3.0)
    ax2.plot(d['date'], d[volume_metric], 'g-', alpha=0.3, linewidth=2.0)
   # plt.scatter(d['date'].tolist(), d['data breach'], c=d['DATA SENSITIVITY'], s=d['DATA SENSITIVITY']*100, cmap = 'Reds')
    ax.scatter(d['date'].tolist(), d['data breach'],c='Red', s=d['DATA SENSITIVITY']*100)
    #plt.ylim((0,d[metric].max()))
   # leg = plt.legend()
    ax.set_xlabel('date', fontsize=25)
    ax.set_ylabel(price_metric, color='b',fontsize=25 )
    ax2.set_ylabel(volume_metric, color='g',fontsize=25 )
    #plt.xlabel('date')
    #plt.ylabel('stock price')

In [23]:
interact(plot_new, ticker=list(set(stocks['symbol'])), price_metric=['price', 'returns'], volume_metric=['vol','% change']);

interactive(children=(Dropdown(description='ticker', index=16, options=('TJX', 'WP', 'WEN', 'AMZN', 'DPZ', 'SP…

### Table of values

In [23]:
stock_dict = {
    i:stocks[stocks['symbol']==i] for i in set(stocks['symbol'])
}

In [24]:
stock_dict['YHOO'].head()

             date  price symbol  volume
149822 2017-06-26  52.58   YHOO       0
149823 2017-06-23  52.58   YHOO       0
149824 2017-06-22  52.58   YHOO       0
149825 2017-06-21  52.58   YHOO       0
149826 2017-06-20  52.58   YHOO       0

In [25]:
cyber['c_id'] = cyber['key']

In [26]:
final_df=pd.DataFrame()
for i, _ in stock_dict.items():
    data = stock_dict[i]
    data['date'] = pd.to_datetime(data.date)
    data = data.sort_values(by=['date'], ascending=True)
    data.index = pd.DatetimeIndex(data['date'], name='date_')
    data = data.resample('M').first()
    data['returns'] = data['price']/data['price'].shift(1)
    data['year'] = data['date'].apply(lambda x: x.year)
    data['month'] = data['date'].apply(lambda x: x.month)
    data['d_key'] = data['symbol'].astype(str)+data['year'].astype(str)+data['month'].astype(str)
    d=pd.DataFrame()
    d = data.merge(cyber, left_on=data.d_key, right_on=cyber.c_id, how='left')
    d = d.fillna(0)
    d['month_before'] = np.where(d['Entity']!=0,d['returns'].shift(1),-100)
    d['month_breach'] = np.where(d['Entity']!=0,d['returns'],-100)
    d['month_after'] = np.where(d['Entity']!=0,d['returns'].shift(-1),-100)
    d = d[['date', 'price', 'returns', 'symbol', 'volume', 'month_before', 'month_breach', 'month_after']]
    d = d.iloc[1:]
    output = d[d['month_before']>0]
   # print(output.head())
    final_df = final_df.append(output)
    d=pd.DataFrame()

/home/martin/.virtualenvs/py3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [27]:
final_df.sort_values('month_breach')

,date,price,returns,symbol,volume,month_before,month_breach,month_after
141,2017-09-01,28.52,0.802702,VIAB,4808214.0,1.041325,0.802702,0.961080
251,2018-11-01,1665.53,0.830954,AMZN,8135539.0,0.830954,0.830954,1.064142
250,2018-11-01,1665.53,0.830954,AMZN,8135539.0,0.982765,0.830954,0.830954
130,2008-11-03,12.53,0.846622,SBUX,12714000.0,0.940280,0.846622,0.634477
182,2015-03-02,0.13,0.866667,BAY,20000.0,0.003352,0.866667,0.884615
217,2016-12-01,12.19,0.873835,VIV,2698160.0,0.956134,0.873835,1.119770
135,2012-04-02,45.74,0.877927,gpn,8175700.0,1.038055,0.877927,1.025798
159,2011-04-01,31.87,0.878688,SNE,1291266.0,1.044041,0.878688,0.903671
160,2011-05-02,28.80,0.903671,SNE,1249400.0,0.878688,0.903671,0.920139
186,2013-07-01,409.22,0.907925,AAPL,13966200.0,1.026019,0.907925,1.115967
168,2012-01-03,179.03,0.908182,AMZN,5110800.0,0.929398,0.908182,1.002402
161,2011-06-01,26.50,0.920139,SNE,888418.0,0.903671,0.920139,1.002642
186,2013-07-01,48.25,0.928599,C,27234700.0,1.132767,0.928599,1.095544
222,2016-07-01,9.60,0.942100,WEN,1509624.0,0.903369,0.942100,1.013542
177,2014-08-01,97.03,0.943413,UPS,3345700.0,0.988182,0.943413,1.009482
87,2005-04-01,10.20,0.959548,AMTD,2384500.0,0.844992,0.959548,1.000000
110,2007-03-01,27.52,0.965953,TJX,3762800.0,0.993722,0.965953,0.984012
191,2013-12-02,62.73,0.970752,TGT,7169100.0,1.011109,0.970752,1.007174
236,2017-09-01,141.59,0.973596,EFX,363046.0,1.053764,0.973596,0.761424
158,2011-03-01,159.97,0.978051,IBM,4382800.0,1.109032,0.978051,1.026880
175,2012-08-01,11.82,0.989535,ATVI,6538200.0,1.025322,0.989535,0.988156
136,2018-08-01,59.36,0.990820,TMUS,4099320.0,1.053455,0.990820,1.107985
195,2014-04-01,66.03,0.993380,TWX,4855600.0,1.080462,0.993380,1.012721
184,2014-11-03,50.10,0.998605,HSBC,1675728.0,0.940746,0.998605,0.979242
108,2015-10-01,1075.00,1.000000,EXPN,2387685.0,0.892857,1.000000,1.036279
223,2016-08-01,41.55,1.000241,BANR,101770.0,0.931181,1.000241,1.053911
201,2014-10-01,59.77,1.001676,JPM,18995943.0,1.056480,1.001676,1.018571
35,2010-11-01,16.91,1.003561,GTS,73600.0,1.038201,1.003561,1.134831
73,2007-07-02,54.78,1.016138,FIS,802400.0,1.065205,1.016138,0.907448
119,2014-06-02,72.99,1.016574,DPZ,245000.0,0.913254,1.016574,1.014386
184,2013-05-01,16.11,1.017045,TER,2535600.0,0.953069,1.017045,1.119181
89,2005-06-01,47.72,1.025575,C,14724000.0,1.042806,1.025575,0.967309
162,2011-07-01,23.76,1.027237,MS,15368500.0,0.888590,1.027237,0.938131
184,2013-05-01,24.30,1.034043,YHOO,11075000.0,1.071103,1.034043,1.086008
162,2011-07-01,422.21,1.040029,GHC,51500.0,0.922762,1.040029,0.945406
170,2014-08-01,47.24,1.041676,CYH,4956000.0,1.099127,1.041676,1.144581
188,2013-09-03,32.01,1.054695,VOD,78526250.0,1.056019,1.054695,1.104655
230,2017-03-01,46.24,1.056190,YHOO,7258451.0,1.125450,1.056190,1.004109
219,2016-04-01,55.57,1.056866,msft,24399172.0,0.961067,1.056866,0.910743
174,2012-07-02,15.84,1.061662,YHOO,7226600.0,0.954575,1.061662,1.009470
169,2015-02-02,135.50,1.080026,ANTM,1819776.0,0.981921,1.080026,1.084354
54,2018-05-01,30.30,1.080599,TWTR,30679164.0,0.869727,1.080599,1.209571
203,2014-12-01,13.89,1.080934,SPLS,8182582.0,1.083474,1.080934,1.267819
227,2016-12-01,87.45,1.085931,DGX,975804.0,0.957892,1.085931,1.057176
112,2007-05-01,52.26,1.091023,JPM,13859000.0,0.973577,1.091023,0.993111
224,2016-09-01,42.93,1.106443,YHOO,5575305.0,1.021321,1.106443,1.004659
116,2007-09-04,18.17,1.107927,AMTD,4155500.0,0.813896,1.107927,1.017061
189,2013-10-01,52.43,1.142764,ADBE,3243300.0,0.961845,1.142764,1.041579
200,2014-09-02,91.15,1.142947,hd,20753200.0,0.974701,1.142947,0.998574
148,2018-03-01,16.14,1.156989,UAA,6810410.0,0.928144,1.156989,0.997522
170,2012-03-01,544.47,1.193516,AAPL,24402500.0,1.109331,1.193516,1.136206
7,2008-03-03,0.16,1.230769,AD,87100.0,0.012079,1.230769,68.558750
120,2009-01-02,20.67,1.237725,HTLF,28900.0,0.719828,1.237725,0.689405
161,2011-06-01,39.65,8.830735,C,41994500.0,1.008989,8.830735,1.081463